<main class="display">
    <aside>
        <h2 class="greenText">Um pouco sobre</h2>
        <h2>quem Somos</h2>
        <p>Atuamos como um elo de solidariedade, recebendo doações de diversas instituições parceiras e distribuindo esses recursos para quem precisa.</p>
        <p>Contamos com a colaboração de diversas empresas, fundações e instituições que acreditam em nossa causa e compartilham do nosso compromisso com a responsabilidade social. Essas parcerias nos permitem ampliar nosso alcance e impacto, assegurando que as doações cheguem a quem realmente precisa.</p>
        <p>Convidamos você a se juntar a nós nesta jornada de transformação. Seja como doador, voluntário ou parceiro, toda ajuda é bem-vinda e essencial para continuarmos nosso trabalho. Juntos, podemos construir um mundo mais justo e solidário.</p>
        <p>Doação Solidária - Porque acreditar no poder da solidariedade é acreditar num futuro melhor para todos.</p>
    </aside>

    <article>
        <img class="handImg" src="../img/hand.png" alt="mao com laco">
    </article>
</main>